{
  "CN": "kube-etcd-peer",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "{{ certificate.ca.attributes.C }}",
      "L": "{{ certificate.ca.attributes.L }}",
      "O": "kube-etcd-peer",
      "OU": "{{ certificate.ca.attributes.OU }}",
      "ST": "{{ certificate.ca.attributes.ST }}"
    }
  ]
}
