kind: EncryptionConfig
apiVersion: v1
resources:
  - resources:
      - secrets
    providers:
      - secretbox:
          keys:
            - name: key1
              secret: {{ lookup('community.general.random_string', length=32, base64=True) }}
      - identity: {}